<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hoangdat.tdtu.deliverysystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliverySystem">
        <activity
            android:name=".ShippingOngoing"
            android:exported="false"
            android:label="Giao Hàng"/>
        <activity
            android:name=".MainActivityShipper"
            android:exported="false"
            android:label="Nhân Viên Giao Hàng" />
        <activity
            android:name=".HandlingDetails"
            android:exported="false"
            android:label="Đóng Gói Hàng" />
        <activity
            android:name=".MainActivityKho"
            android:exported="false"
            android:label="Nhân Viên Kho" />
        <activity
            android:name=".CSKHDetails"
            android:exported="false"
            android:theme="@style/Theme.DeliverySystem.NoActionBar" />
        <activity
            android:name=".MainActivityCSKH"
            android:exported="false"
            android:label="Nhân viên CSKH"/>
        <activity
            android:name=".ShippingDetails"
            android:exported="false"
            android:theme="@style/Theme.DeliverySystem.NoActionBar" />
        <activity
            android:name=".AddShipping"
            android:exported="false"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DeliverySystem.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DeliverySystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DeliverySystem.NoActionBar" />
    </application>

</manifest>